---
layout: default
---

<img id="portrait" srcset="{{ '/assets/base/mars.png' | relative_url }} 500w, {{ '/assets/base/mars_s.png' | relative_url }} 250w" width="500" height="728" alt="Portrait of my squirrel character.">

<div id="hi">
	<h1>Hi, I'm Mars</h1>
	<p class="s">Often my username is also <strong>Emperor of Mars</strong></p>
	<p>I make 3D avatar bases and assets for social VR games!</p>
	<p class="ll" id="squirrelbite-link"><span>View them at:</span><a class="icon" style="--icon-url: url({{'/assets/base/squirrelbite.svg' | relative_url}}); width: 8em; height: 8em;" href="https://squirrelbite.com" title="squirrelbite.com"></a></p>
</div>

<div id="socials">
	<h2 class="l">Socials:</h2>
	<div>
	{% for social in site.header_socials %}
		<a href="{{social.link}}" class="icon llll" style="--icon-url: url({{social.icon | relative_url}});" title="{{social.name}}" {% if social.name == "Mastodon" %} rel="me" {% endif %}></a>
	{% endfor %}
	</div>
</div>

<a id="avatars" href="https://squirrelbite.com/avatars" title="View avatars"><img srcset="{{ '/assets/base/Squirrelbite Flyer website.png' | relative_url }} 1400w, {{ '/assets/base/Squirrelbite Flyer website_s.png' | relative_url }} 910w, {{ '/assets/base/Squirrelbite Flyer website_ss.png' | relative_url }} 660w, {{ '/assets/base/Squirrelbite Flyer website_sss.png' | relative_url }} 595w, {{ '/assets/base/Squirrelbite Flyer website_ssss.png' | relative_url }} 360w" width="1400" height="847" alt="Screenshot of my squirrel, fox and cheetah avatars."></a>