---
is_home: true
---

<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body style="text-align: center;">
	{% include header.html %}

	<main class="container">
		<section class="grid">
			<div class="border" style="border-width: 5px; display: flex; flex-direction: column; gap: 40px; margin: auto; height: 100%; padding: 0 30px 10px 10px;">
				<img src="{{ '/assets/img/portrait.png' | relative_url }}" style="margin: 0 30px; width: 300px; margin: auto;"/>
				<div>
					<h1>Hoi, I'm Mars</h1>
					<p>Often my username is also <strong>Emperor of Mars</strong></p>
					<h3>I make 3D avatar bases and assets for social VR games!<h3>
				</div>
			</div>
			<div class="card" style="display: flex; flex-direction: column; gap: 40px; margin: auto; justify-content: space-evenly; height: 100%; padding: 30px 0;">
				<div>
					<h3>Browse all my products on</h3>
					<div>
						<a role="button" class="big-button" href="https://emperorofmars.itch.io/" style="min-width: 200px;">Itch</a>
						<a role="button" class="big-button" href="https://emperorofmars.gumroad.com/" style="min-width: 200px;">Gumroad</a>
					</div>
				</div>
				<div>
					<h3>Socials</h3>
					<div>
						<a role="button" class="outline" rel="me" href="https://squirrel.pub/@mars">Mastodon</a>
						<a role="button" class="outline" href="https://bsky.app/profile/mars.squirrel.pub">Bluesky</a>
						<a role="button" class="outline" href="https://www.furaffinity.net/user/emperorofmars">Furaffinity</a>
						<a role="button" class="outline" href="https://twitter.com/Emperor_of_Mars">Twatter</a>
					</div>
				</div>
				<div>
					<h3>Communities</h3>
					<div>
						<a role="button" class="outline" href="https://discord.gg/MDggMXSttM">Discord Server</a>
						<a role="button" class="outline" href="https://vrc.group/SQRL.0269">VRChat Group</a>
					</div>
				</div>
				<div>
					<h3>Coding Projects</h3>
					<div>
						<a role="button" class="outline" href="https://github.com/emperorofmars">Github</a>
					</div>
				</div>
			</div>
		</section>
		<article>
			<header><h3>Check out my Avatars</h3></header>
			<main>
				<section style="display: grid; grid-auto-flow: column; gap: 16px; margin-bottom: 20px; overflow-x: auto; width: 100%; justify-content: safe center;">
					{% for post in site.posts %}
						<div class="showcase border">
							{% if post.is_page != false %}
							<a href="{{post.url}}">
								<div style="height: 100px;">
									<h4 style="padding: 10px;">{{post.title}}</h4>
								</div>
								<img src="{{post.preview}}">
							</a>
							{% else %}
							<div style="height: 100px;"><h4 style="padding: 10px;">{{post.title}}</h4></div>
							<img src="{{post.preview}}">
							{% endif %}
							{% if post.has_links != false %}
							<div style="padding: 10px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 10px;">
								<a role="button" class="outline" style="flex: 1;" href="{{post.link_itch}}">Itch</a>
								<a role="button" class="outline" style="flex: 1;" href="{{post.link_gumroad}}">Gumroad</a>
							</div>
							{% else %}
							<h5>Coming Soon!</h5>
							{% endif %}
						</div>
					{% endfor %}
				</section>
			</main>
		</article>
		<article>
			<header><h3>Fileformat Project for 3D Models & Avatars</h3></header>
			<main style="text-align: left;">
				<p>
					The single relevant format for VR & V-Tubing avatars is a .unitypackage that contains a scene with a setup somewhere.<br>
					There is no interoperability for avatars. And it is severely lacking for 3D models by themselves.<br>
					Using those avatars as an end-user is prohibitively difficult as it requires the use of a Game-Engine like Unity.
				</p>
				<p>
					I'm trying to improve that, by creating a prototype/proof of concept of an extensible file format for 3D models.<br>
					<strong>You can view my progress in the <a role="button" class="secondary" href="https://github.com/emperorofmars/stf-unity">STF Git Repository</a></strong>
				</p>
			</main>
		</article>
	</main>

	{% include footer.html %}
</body>
</html>