<section class="grid-column-responsive" style="gap: 10px; margin: auto;">
{% for post in site.posts %}
{% if post.categories contains {{include.filter}} %}
{% if post.hidden != true %}
	<div class="col showcase border {% if post.is_page != false or post.target_link != nil %}showcase-link{% endif %}">
		{% if post.is_page != false %}
		<a class="col" style="flex: 1;" href="{{post.url}}">
			<div class="row" style="height: 100px; align-items: center;"><h4 style="margin-bottom: 0; padding: 20px 10px;">{{post.title}}</h4></div>
			<img src="{{post.preview}}" style="height: 380px;">
		</a>
		{% else if post.target_link != nil %}
		<a class="col" style="flex: 1;" href="{{post.target_link}}">
			<div class="row" style="height: 100px; align-items: center;"><h4 style="margin-bottom: 0; padding: 20px 10px;">{{post.title}}</h4></div>
			<img src="{{post.preview}}" style="height: 380px;">
		</a>
		{% else %}
		<div class="col" style="flex: 1;">
			<div class="row" style="height: 100px; align-items: center;"><h4 style="margin-bottom: 0; padding: 20px 10px;">{{post.title}}</h4></div>
			<img src="{{post.preview}}" style="height: 380px;">
		</div>
		{% endif %}
		{% if post.has_links != false %}
		<div class="row-collapse" style="gap: 10px; padding: 10px; flex: 1;">
			{% if post.link_itch != nil %}<a role="button" class="outline" style="min-width: 80px; font-size: 0.85rem;" href="{{post.link_itch}}">Itch</a>{% endif %}
			{% if post.link_jinxxy != nil %}<a role="button" class="outline" style="min-width: 80px; font-size: 0.85rem;" href="{{post.link_jinxxy}}">Jinxxy</a>{% endif %}
			{% if post.link_gumroad != nil %}<a role="button" class="outline" style="min-width: 80px; font-size: 0.85rem;" href="{{post.link_gumroad}}">Gumroad</a>{% endif %}
		</div>
		{% else %}
		{% if post.release_date != nil %}
		<div class="row" style="flex: 1;"><h5 style="margin: auto;">Releases {{post.release_date}}</h5></div>
		{% else %}
		<div class="row" style="flex: 1;"><h5 style="margin: auto;">Coming Soon!</h5></div>
		{% endif %}
		{% endif %}
	</div>
{% endif %}
{% endif %}
{% endfor %}
</section>