
:root {
	--pico-border-radius: 0.6rem;
}

img {
	object-fit: cover;
}

a {
	word-break: keep-all;
	overflow-wrap: normal;
}

header.container {
	padding: 0;
}

footer {
	font-size: 0.8rem;
}

.border {
	border: solid 5px var(--mars-color-border);
	border-radius: var(--pico-border-radius);
	padding: 10px;
}

.showcase {
	max-width: 320px;
	min-width: 240px;
	flex-shrink: 0;
	padding: 0;
}

.showcase-header {
	display: block;
	margin: auto;
}

.showcase-link.showcase:hover {
	background-color: var(--mars-color-header);
}