
$logo-size: 300px;

$size_xs: 100%; // Extra small <576px 100%
$size_s: 510px; // Small ≥576px 510px
$size_m: 700px; // Medium ≥768px 700px
$size_l: 950px; // Large ≥1024px 950px
$size_xl: 950px; // Extra large ≥1280px 1200px
$size_xxl: 950px; // Extra extra large ≥1536px 1450px


$color-pop: #EA7E7E;
//$color-bg: #150e0e;
$color-bg: #1f1515;
$color-bg-card: #372626;
$color-bg-card-highlight: #543f3f;
$color-text: #e7c0c0;
$color-text-muted: #c9b4b4;
$color-btn-bg: #8a5b5b;
$color-btn-bg-highlight: #8a5b5b;
