---
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body style="text-align: center;">
	{% include header.html %}

	<main class="container">
		<h1>{{page.title}}</h1>
		{{content}}
		<div class="row" style="gap: 20px;">
			<a role="button" class="big-button" style="flex: 1;" href="{{page.link_itch}}">Itch</a>
			<a role="button" class="big-button" style="flex: 1;" href="{{page.link_gumroad}}">Gumroad</a>
		</div>
		<img src="{{page.cover-image}}" style="margin-top: 30px; border-radius: var(--pico-border-radius); box-shadow: 0 0 20px;">
	</main>

	{% include footer.html %}
</body>
</html>